<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999440619343-4t80b3h7e3cn6ac07vg04sk6ekq53u9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999440619343-4t80b3h7e3cn6ac07vg04sk6ekq53u9b</string>
	<key>API_KEY</key>
	<string>AIzaSyBVPL4wIOlxzRa69-UI-2pj1WKocnfLthA</string>
	<key>GCM_SENDER_ID</key>
	<string>999440619343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akula.Email-password-login</string>
	<key>PROJECT_ID</key>
	<string>email-password-login-5aa56</string>
	<key>STORAGE_BUCKET</key>
	<string>email-password-login-5aa56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999440619343:ios:330cdb377906cce0ead73a</string>
</dict>
</plist>